<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 mx-auto mb-5">
      <h1 class="mt-4">Edit Your Listing</h1>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
        enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          Original Listing Image <br>
          <img src="<%= originalImageUrl %>" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price%>" class="form-control" required />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class-row>
          <div class="mb-3 col-md-7">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control" required />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
          <div class="mb-3 col-md-5">
            <div class="dropdown">
              <label for="category" class="form-label">Category</label>
              <select id="category" name="listing[category]" class="form-control" required>
                <option disabled selected value>--Select Category--</option>
                <option value="Rooms">Rooms</option>
                <option value="Mountains">Mountains</option>
                <option value="Beach">Beach</option>
                <option value="Arctic">Arctic</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Farms">Farms</option>
                <option value="Camping">Camping</option>
                <option value="Castles">Castles</option>
                <option value="Deserts">Deserts</option>
                <option value="Amazing Pools">Amazing Pools</option>
              </select>
            </div>
          </div>

        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>